<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
    id        = "io.cordova.helloCordova"
    version   = "2.0.0">
<name>The Machine</name>

<description>
    You are being watched.
</description>

<author href="twitter.com/mandama004" email="lars2458@gmail.com">
    Amanduh
</author>

